/********************************************/
/*                 Main CSS                 */
/* © G. Leroy-Ferrec                   2018 */
/********************************************/

:root
{
    --bkcol: rgb(65, 65, 65);
    --headcol: rgb(84, 148, 173);
}


html
{
    height: 100%;

    background-color: darkgrey;
    background-color: var(--bkcol);
}

body
{
    height: 100%;

    margin: 0;
    /*padding-top: 7vh;*/

    font-family: "Open Sans", Verdana, Arial, serif;

    color: white;
    background-color: var(--bkcol);
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--headcol);
    box-shadow: 0 0 10px rgb(24, 24, 24);
}

header > button
{
    font-weight: bold;

    margin-right: 2em;
    
    color: white;
    background-color: transparent;
    border: none;

    cursor: pointer;
}

h1
{
    position: relative;
    display: inline-block;

    margin: 0;
    padding: 2vh 1em;

    background-color: rgb(87, 87, 87);
    font-size: 5vh;
}

h1::after, h1::before
{
    position: absolute;
    top: 0;

    z-index: 420;

    content: " ";

    width: 0;
    height: 0;

    border: solid 5vh transparent;

}

h1::after
{
    left: 100%;

    border-left-color: rgb(87, 87, 87);
    /*border-bottom-color: grey;*/
}

h1::before
{
    left: 0%;

    /*border-left-color: var(--headcol);
    /*border-bottom-color: grey;*/
}

h1, h2, h3, h4, h5, h6
{
    font-family: "ZillaSlab", "Bree Serif";
    font-weight: normal;
}

form input
{
    padding: 5px;

    border:none;
    border-top: solid 3px grey;

    transition: border 0.6s, background-color 1s;
}

article#thumbnails
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    -moz-justify-content: space-evenly;
    -webkit-justify-content: space-evenly;

    align-items: baseline;
}

article img
{
    margin: 1em;
}

section
{
    width: 75%;
    min-height: 90vh;
    margin-top: 10vh;
    padding-top: 1em;

    background-color: inherit;
}

footer
{
    /*position: absolute;*/
    bottom: 0;
    left: 0;

    height: 3em;

    margin-top: 2em;
    padding: 1em;

    border-top: solid 3px grey;
    background-color: rgb(87, 87, 87)
}

footer > span
{
    margin: auto;

    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;

    color: rgb(196, 196, 196);
}

aside
{
    position: fixed;
    top: 10vh;
    right: 0;

    z-index: 42;

    width: 25%;
    height: 90%;    

    display: flex;
    flex-direction: column;

    background-color: rgb(87, 87, 87);;
    border-left: solid 3px var(--headcol);
}

#authentication
{
    display: none;
}

#chat *, #chat ::after, #chat ::before
{
    box-sizing: content-box;
}

#chat h2
{
    font-size: 1em;

    height: 1em;

    margin: 0;
    padding: 0.5em;
    padding-top: 0.1em;

    background-color: var(--headcol);
    color: white;

    cursor: default;
    user-select: none;
}

#chat form
{
    width: 100%;

    padding: 7px;
    padding-left: 3px;

    background-color: var(--headcol);
    color: white;
}

#chat form input
{
    width: 95%;
    border-top-color: rgb(163, 191, 202);
}

#chat form input:focus
{
    border-top-color: rgb(181, 190, 192);
    background-color: rgb(233, 230, 193);
}

#chat ul
{
    flex: 3 1 0;
    height: 80vh;

    overflow: auto;
    overflow-x: hidden;

    transition: background-color 0.5s;
}

#comments
{
    width: 80%;
    margin: auto;
}

#comment-input
{
    display: none;

    margin: 0 1em;
    margin-top: 2em;
}

#comment-msg
{
    width: 100%;
}

#image-viewer
{
    margin: 2vw;
}

#image-viewer #photo img
{
    z-index: 1;
    width: 100%;
}

.author
{
    display: block;
    font-weight: bold;
}

.main-title
{

}

.comment-delete
{
    display: inline-block;

    /*height: 1em;
    padding: 10px;*/
    font-weight: bolder;
    
    background-color: transparent;
    color: rgb(202, 146, 146);
    border: none;
}

.comment-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.msg-list
{
    padding: 0;
    margin: 0;
}

.msg-list li
{
    list-style: none;

    margin: 1em;
    padding: 0.5em;
    
    background-color: gray;
    color: wheat;

    border-bottom: solid 5px rgb(87, 87, 87);
    /*border-right: solid 5px rgb(87, 87, 87);*/
}

.thumbnail
{
    width: 15.55vw;

    transition: opacity 0.5s;
}

.popup-content
{
    /*width: 30%;*/
    /*height: 6em;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 25vw;

    font-size: 0.9em;    
}

.popup-content input
{
    padding: 0.5em;
    margin-bottom: 1em;

    border: solid 1px gray;
    border-radius: 5px;
}

.btn-action
{
    margin-top: 1em;
    padding: 0.5em;

    text-transform: uppercase;
    font-weight: bold;

    color: rgb(34, 95, 34);
    background-color: transparent;

    border-radius: 8px;
    border: solid 2px rgb(34, 95, 34);

    transform: scale(1);

    transition: transform 0.3s;
}

.btn-emphased
{
    color: white;
    background-color: rgb(34, 95, 34);

    border:none;
}

.btn-action:hover
{
    cursor: pointer;
    transform: scale(1.03);
}

.popup
{
    position: fixed;
    z-index: 999;

    padding: 1.5em;

    color: var(--bkcol);
    background-color: rgb(206, 206, 206);
    box-shadow: 0 0 20px black
}

.popup#authentication, .popup#profile
{
    display: none;
    right: 1%;
}

.popup h2
{
    width: 100%;
    
    font-size: 1.6em;
    text-align: center;

    color: rgb(49, 49, 49);

    margin: auto;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.text-alert
{
    display: block;

    width: 100%;
    height: 100%;

    margin-top: 50%;

    text-align: center;

    color: rgb(151, 151, 151);
}

@font-face
{
    font-family: "Bree Serif";
    src: url('BreeSerif-Regular.otf');
}
